.inputContainer {
    padding-top: 2em;
    position: relative;
}

input {
    width: 75%;
    height: 50px;
    padding: 0 10px;
    background-color: #F3F8FB;
    border-style: none;
    direction: rtl;
    caret-color: transparent;
    font-family: 'IBM Plex Sans Arabic';
    font-size: 25px;
    font-weight:bolder;
    color:#154646;
}

.inputLabel {
    display: block;
    margin: 0 0 5px 45px;
    font-size: 23px;
    color: #8a9a9a;
    font-weight: 900;
}

.icon {
    position: relative;
    left: 55px;
    top: 4px;
    height: 25px;
}

.fieldInput {
    margin-left: 1em;
}

.billInputSpan {
    font-family: 'IBM Plex Sans Arabic';
    color: red;
    font-size: 18px;
    padding-left: 205px;
}

.numberOfPeopleInputSpan {
    font-family: 'IBM Plex Sans Arabic';
    color: red;
    font-size: 18px;
    padding-left: 50px;
}

