input[type="number"]::placeholder {
    text-align: center;
}

.buttonsContainer {
    margin-top: 2em;
    margin-left: 2em;  
    margin-bottom: -1.5em;
    height: 250px;    
}


.heading {
    display: block;
    margin: 0 0 5px 15px;
    font-size: 23px;
    color: #8a9a9a;
    font-weight: bolder;
}

