.input {
    background-color: #f3f8fb;
    border-style: none;
    color:#788e8c;
    text-align:center;
    align-items: center;
    font-size: 30px;
    margin: 0;
    width: 99%;
    vertical-align: top;
    position: relative;
    bottom: 18px;
    height: 60px;
    font-family: 'IBM Plex Sans Arabic';
    font-weight: bolder;
    border-radius: 10px;  
}

::placeholder { 
    color: #788e8c;
    opacity: 1; 
    font-weight: bolder;
}

.input:after {
    content: "%"
}
